<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <span class="header-title">Histórico Vacinal</span>
    <ion-icon
      name="notifications-outline"
      slot="end"
      class="bell-icon"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="historico-content">
  <h3 class="section-title selector-title">Escolha uma criança</h3>
  <div
    class="seletor-card"
    *ngFor="let c of todasCriancas"
    (click)="selecionarCrianca(c.id)"
  >
    <ion-avatar>
      <img [src]="c.foto" [alt]="c.nome" />
    </ion-avatar>
    <div class="seletor-info">
      <h4>{{ c.nome }}</h4>
      <p>{{ c.idade }}</p>
    </div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
</ion-content>
