<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crianca-perfil" href="/tabs/crianca-perfil">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Kids</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico-vacinal" href="/tabs/historico-vacinal">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campanhas" href="/tabs/campanhas">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Campaigns</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
