// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  /** primary - verde **/
  --ion-color-primary: #abc270;
  --ion-color-primary-rgb: 171, 194, 112;
  --ion-color-primary-contrast: #473c33;
  --ion-color-primary-contrast-rgb: 71, 60, 51;
  --ion-color-primary-shade: #96aa62;
  --ion-color-primary-tint: #b3c87d;

  /** secondary - amarelo **/
  --ion-color-secondary: #fec868;
  --ion-color-secondary-rgb: 254, 200, 104;
  --ion-color-secondary-contrast: #473c33;
  --ion-color-secondary-contrast-rgb: 71, 60, 51;
  --ion-color-secondary-shade: #e0b05c;
  --ion-color-secondary-tint: #fecd77;

  /** tertiary - laranja **/
  --ion-color-tertiary: #fda769;
  --ion-color-tertiary-rgb: 253, 167, 105;
  --ion-color-tertiary-contrast: #473c33;
  --ion-color-tertiary-contrast-rgb: 71, 60, 51;
  --ion-color-tertiary-shade: #df935c;
  --ion-color-tertiary-tint: #fdb077;

  /** dark - marrom (texto/fundo escuro) **/
  --ion-color-dark: #473c33;
  --ion-color-dark-rgb: 71, 60, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3e342c;
  --ion-color-dark-tint: #594e46;

  /* Cores customizadas auxiliares  */
  --cyrkids-verde: #abc270;
  --cyrkids-amarelo: #fec868;
  --cyrkids-laranja: #fda769;
  --cyrkids-marrom: #473c33;
}
